body {
  background-color:rgb(250,225,223);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: rgb(13,31,45);
  color: rgb(250,225,223);
  padding: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 0%;
  margin-bottom: 1%;
  height: 20vh;
  font-size: small;
}

#projects {
  box-sizing: border-box;
  background-color: rgb(158,163,176);
  color: rgb(25,25,25);
  padding: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 0%;
  float: left;
  width: 46%;
  height: 105vh;
}

#about {
  box-sizing: border-box;
  background-color: rgb(228,195,173);
  color: rgb(25, 25, 25);
  padding: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: right;
  width: 46%;
}

#resume {
  box-sizing: border-box;
  background-color: rgb(84, 106, 123);
  color: rgb(250,225,223);
  padding: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: right;
  width: 46%;
}