body {
  background-color:rgb(250,225,223);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(13,31,45);
  border: solid rgb(65, 65, 66);
  color: rgb(250,225,223);
  padding: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0%;
  margin-bottom: 1%;
  height: 30vh;
  font-size: small;
}

.about {
  box-sizing: border-box;
  border: solid rgb(65, 65, 66);
  border-radius: 10px;
  background-color: rgb(228,195,173);
  color: rgb(25, 25, 25);
  padding: 20px;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: left;
  width: 44vw;
}

#headshot {
  display: block;
  border: solid rgb(65, 65, 66);
  border-radius: 50px;
  width: 46vw;
  float: right;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.resume {
  background-color: rgb(136, 164, 187);
  border: solid rgb(65, 65, 66);
  color: rgb(25,25,25);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: Left;
  width: 44vw;
}
.experience {
  margin-top: 30px;
  margin-bottom: 30px;
}

.indent {
  margin-left: 40px;
}

.indenthalf {
  margin-left:20px;
}

.position {
  font-style: italic;
}

.projects {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(162, 119, 119);
  color: rgb(25,25,25);
  border: solid rgb(65, 65, 66);
  padding: 20px;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 0%;
  float: right;
  width: 46vw;
}

#contact {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(13,31,45);
  color:  rgb(250,225,223);
  border: solid rgb(65, 65, 66);
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
  width: 46vw;
}

#button {
  background-color: rgb(228,195,173);
  color: rgb(25,25,25);
  border: solid rgb(65, 65, 66);
  padding: 10px;
  border-radius: 10px;
  float: right;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 4%;
}

a:link {
  color: rgb(13,31,45);
}

a:visited {
  color: rgb(13,31,45);
}

a:hover {
  color: rgb(250,225,223);
}

a:active {
  color: blue;
}
